table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.container__btnNew {
display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 1rem -0.6rem;
  button {
    color: white;
    background: #673ab7;
    cursor: pointer;
  }
}
